.login_box {
  min-height: 80vh;
  margin: auto;
  width: 80%;
  padding: 10px;
  margin-top: 10%;
}
  
.login_form {
  padding-top: 3%;
  border-radius: 40px;
}

.input_log {
  background-color:#EDF4FD;
  border-radius: 20px;
  border: none;
  width: 20%;
  height: 45%;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
}

.input_log_1 {
    background-color:#EDF4FD;
  border-radius: 20px;
  border: none;
  margin-top: 25px;
  width: 87%;
  height: 200px;
  padding: 10px;
  outline: none;
  resize: none;
  font-family: sans-serif;
}

.login_title {
  position:inherit;
  font-size: 36px;
  color: #043F8D;
  padding-bottom: 1%;
}
  
.submit_log {
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 45px;
  color:white;
  background-color: #093c7e;
  border-radius: 35px;
  border: none;
  height: 77%;
  width: 200px;
  top: 370px;
  padding: 10px;
}